@font-face {
    font-family: "Rubik Regular";
    src: url('/css/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: "Rubik Bold";
    src: url('/css/fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: "Rubik Medium";
    src: url('/css/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: "Inter-Regular";
    src: url('/css/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: "SFProText-Semibold";
    src: url('/css/fonts/SFProText-Semibold.ttf');
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
    padding: 0 auto;
    margin: 0 auto;
    border: none;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: "Rubik Regular";
    padding: 0px auto;
    margin: 0px auto;
}

.status-bar{
    width: 375px;
    height: 44px;
    margin-bottom: 20px;
}



.container {
    text-align: center;
    width: 360px;
    height: 102px;
    padding: 0 auto;
    margin: 0 auto;
}
  


h1 {
    /* padding: 0 auto;
    margin: 0 auto;
    width: 338px;
    height: 42px; */
    font-family: "Rubik Bold";
    font-size: 32px;
    margin-bottom: 10px;
}
  

h2 {
    font-size: 20px;
    display: inline-block;
    margin-right: 45px;
}

h2:last-child{
    margin-right: 12px;
}
  

table {
    margin-top: 60px;
    text-align: center;
    width: 167px;
    height: 386px;
    border-collapse: collapse; 
    border-radius: 4px;
    border-spacing: 0;
    overflow:hidden;
  }
  
.wrapper {
    width: 167px;
    height: 386px;
    
}


tr li td a{
    width: 1px;
    text-align: center;
    list-style-type: none;
}

  
  .table td, .table th {
    padding: 0px 20px;
    border: 1px solid #000000;
    font-size: small;
  }

h3{
    display: inline-block;
    font-family: 'Rubik Medium';
    font-size: 12px;
}

/* .table-border{
    padding-top: 15px;
    width: 167px;
    height: 384x;
    border: 1px solid black;
    border-radius: 15px;
}

.horizontal-line {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 49px;
    float: left;
}

.vertical-line{
    border-left: 5px solid rgb(0, 0, 0);
    height: 500px;
}

.rectangle {
    border: 1px solid black; 
    margin-right: 0px;
	width: 116px;
    height: 33px;
	background: white;
} */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
    margin-top: 100px;
}

.check-false {
    background-color: rgb(255, 187, 187);
}

.check-right{
    background-color: #C4FFBA
}

.check-partly{
    background-color: #FFA9A9
}

td a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.container button {
    width: 275px;
    height: 56px;
    font-size: 16px;
    font-family: "Rubik Medium";
    width: 275px;
    height: 56px;
    background-color: #E3562A;
    color: rgb(255, 255, 255); 
    border-radius: 15px;
    border: 550px;
    cursor: pointer;
}


